<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests" data-provider-thread-count="3" configfailurepolicy="continue">
    <test name="Currency Conversion Rate" preserve-order="true">
        <classes>
            <class name="com.rockall.runner.TestNgRunner"/>
        </classes>
    </test>
</suite>